<a href="https://colab.research.google.com/github/siribafna/neural-networks/blob/master/Naive%20Bayes%20with%20Twitter%20Flight%20Sentiment%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
import sys
import pandas as pd
print("This is the name of the script: ", sys.argv[0])
print ("Number of arguments: ", len(sys.argv))
print ("The arguments are: " , str(sys.argv))

print("location for dataset:", sys.argv[1])
tweets_df = sys.argv[1]

This is the name of the script:  /usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py
Number of arguments:  3
The arguments are:  ['/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-504373a6-f087-47f5-a461-0e29468cc446.json']
location for dataset: -f

In [67]:
tweets_df = pd.read_csv('https://raw.githubusercontent.com/siribafna/neural-networks/master/Tweets.csv', sep=',')

In [68]:
tweets = tweets_df[["airline_sentiment", "airline", "text"]]

In [69]:
display(tweets)

      airline_sentiment  ...                                               text
0               neutral  ...                @VirginAmerica What @dhepburn said.
1              positive  ...  @VirginAmerica plus you've added commercials t...
2               neutral  ...  @VirginAmerica I didn't today... Must mean I n...
3              negative  ...  @VirginAmerica it's really aggressive to blast...
4              negative  ...  @VirginAmerica and it's a really big bad thing...
...                 ...  ...                                                ...
14635          positive  ...  @AmericanAir thank you we got on a different f...
14636          negative  ...  @AmericanAir leaving over 20 minutes Late Flig...
14637           neutral  ...  @AmericanAir Please bring American Airlines to...
14638          negative  ...  @AmericanAir you have my money, you change my ...
14639           neutral  ...  @AmericanAir we have 8 ppl so we need 2 know h...

[14640 rows x 3 columns]

In [70]:
tweets["text"] = tweets["text"].str.lower() # making all text data lowercase

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()  
counts = count_vect.fit_transform(tweets['text'])

In [72]:
from sklearn.feature_extraction.text import TfidfTransformer
transformer = TfidfTransformer().fit(counts)
counts = transformer.transform(counts)

In [73]:
from sklearn.preprocessing import LabelEncoder 
label_encoder = LabelEncoder() # creating label_encoder
tweets['airline_sentiment'] = label_encoder.fit_transform(tweets['airline_sentiment'])
tweets

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

       airline_sentiment  ...                                               text
0                      1  ...                @virginamerica what @dhepburn said.
1                      2  ...  @virginamerica plus you've added commercials t...
2                      1  ...  @virginamerica i didn't today... must mean i n...
3                      0  ...  @virginamerica it's really aggressive to blast...
4                      0  ...  @virginamerica and it's a really big bad thing...
...                  ...  ...                                                ...
14635                  2  ...  @americanair thank you we got on a different f...
14636                  0  ...  @americanair leaving over 20 minutes late flig...
14637                  1  ...  @americanair please bring american airlines to...
14638                  0  ...  @americanair you have my money, you change my ...
14639                  1  ...  @americanair we have 8 ppl so we need 2 know h...

[14640 rows x 3 columns]

In [74]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(counts, tweets['airline_sentiment'], test_size=0.1)

In [75]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB().fit(X_train, y_train)

In [76]:
import numpy as np
predicted = model.predict(X_test)
print("Accuracy: ", np.mean(predicted == y_test))

Accuracy:  0.6769125683060109

In [79]:
print("Average Airline Sentiments:")
display(tweets[['airline_sentiment', 'airline']].groupby('airline', as_index=False)['airline_sentiment'].mean())

Average Airline Sentiments:

          airline  airline_sentiment
0        American           0.411381
1           Delta           0.815032
2       Southwest           0.745455
3      US Airways           0.315482
4          United           0.439822
5  Virgin America           0.942460

In [78]:
positive_sentiments = tweets.loc[tweets['airline_sentiment'] == 2]
#display(positive_sentiments)
highest_positive_sentiment = positive_sentiments.groupby('airline', as_index=False).count().max()
print("Airline with the Highest Positive Sentiment: ", highest_positive_sentiment["airline"])

Airline with the Highest Positive Sentiment:  Virgin America